In [ ]:
print(1+2)

3

In [ ]:
bge = 30 # 年齢

if bge < 20:
    # 未成年の場合
    print("ジュースで乾杯！")
else:
    # 青年の場合
    print("お酒で乾杯！")

お酒で乾杯！

In [ ]:
print(45+18)

63

In [ ]:
print(30-12)
print(15*6)
print(30/3)
print(45%8)

18
90
10.0
5

In [ ]:
print(45+1.8)
print(3-1.2)
print(15*0.6)
print(3/0.3)
print(45%0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は"+"晴れ")
print("今日の天気は""曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率"+str(50)+"%")

降水確率50%

In [ ]:
print("晴れ"*5)

晴れ晴れ晴れ晴れ晴れ

In [ ]:
user_name="侍太郎"
print(user_name)

侍太郎

In [ ]:
user_name="侍花子"
print(user_name)

侍花子

In [ ]:
#整数型と浮動小数点型の足し算
number1=5
number2=2.5
print(number1+number2)

7.5

In [ ]:
#台形の面積を求める
number1 = 10
number2 = 20
number3 = 5
area = (number1 + number2) * number3 / 2
print(f'面積は"{area}㎠"です')

面積は"75.0㎠"です

print("あ"+str"30")

In [ ]:
print("あ"+str(30))

あ30

In [ ]:
array=["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金曜日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です"]
print(array[2])

水曜日は晴れです

In [ ]:
dictionary={"mon": "晴れ", "tue": "雨", "wed": "晴れ", "thu": "晴れ", "fri": "曇り", "sat": "曇りのち雨", "sun": "雷雨"}
print(dictionary["wed"])

晴れ

In [ ]:
import random
num = random.randint(0,4)
print(num)
if num==4:
  print("大当たりです")
elif num==3:
  print("当たりです")
else:
  print("はずれです")

3
当たりです

In [ ]:
import random
num=random.randint(0,4)
print(num)
if 1<num and num<3:
  print("変数numは1より大きく、3より小さいです")
else:
  print("and条件が成り立ちませんでした")
if num==1 or num==3:
  print("変数numは1または3です")
else:
  print("or条件が成り立ちませんでした")

1
and条件が成り立ちませんでした
変数numは1または3です

In [ ]:
var = int(input("数値を入力してください: "))

if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
elif var % 3 == 0:
    print("Fizz")
elif var % 5 == 0:
    print("Buzz")
else:
    print(var)

数値を入力してください: 2
2

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
range(3)

range(0, 3)

In [ ]:
import random
for i in range(1,11):
  num=random.randint(1,20)
  print(f"{i}回目の結果は{num}です")
  if num ==20:
    print("20が出たので繰り返し処理を強制終了します。")
    break

1回目の結果は3です
2回目の結果は6です
3回目の結果は16です
4回目の結果は5です
5回目の結果は10です
6回目の結果は3です
7回目の結果は12です
8回目の結果は2です
9回目の結果は1です
10回目の結果は12です

In [ ]:
for i in range(1,11):
  if i %2 == 1:
    continue

  print(i)

2
4
6
8
10

In [ ]:
import random
num=random.randint(0,4)
while num !=0:
  num=random.randint(0,4)
  print(num)

3
2
0

In [ ]:
import random
num=random.randint(0,4)
print(f"最初の値は{num}です")
while num !=0:
  num=random.randint(0,4)
  print(f"現在の値は{num}です。")

最初の値は3です
現在の値は3です。
現在の値は1です。
現在の値は2です。
現在の値は3です。
現在の値は0です。

In [ ]:
import random
num=random.randint(0,4)
i=1
print(f"最初の値は{num}です")
while num !=0:
  num=random.randint(0,4)
  if i==5:
    print("5回目なので繰り返し処理を強制終了します")
    break
  print(f"現在の値は{num}です。")
  i=i+1

最初の値は3です
現在の値は3です。
現在の値は4です。
現在の値は2です。
現在の値は4です。
5回目なので繰り返し処理を強制終了します

In [ ]:
import random
sum=0
while sum<20:
  num=random.randint(1,10)
  print(f"{num}が出ました")
  if num % 2==0:
    print("偶数なので加算しません")
    continue
  sum=sum+num
  print(f"現在の合計は{sum}です")

9が出ました
現在の合計は9です
9が出ました
現在の合計は18です
7が出ました
現在の合計は25です

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

for user_name in user_names:
    print(user_name)

侍太郎
侍一郎
侍二郎
侍三郎
侍四郎

In [ ]:
personal_data = {"名前": "侍太郎", "年齢": 36, "性別": "男性"}

for key, value in personal_data.items():
    print(f"{key}は{value}です。")

名前は侍太郎です。
年齢は36です。
性別は男性です。

In [ ]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# 連想配列personal_dataのキーと値を1つずつ順番に出力する
for key, value in personal_data.items():
    print(f"{key}は{value}です。")

# 連想配列personal_dataの値を1つずつ順番に出力する
for value in personal_data.values():
    print(value)

nameは侍太郎です。
ageは36です。
genderは男性です。
侍太郎
36
男性

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 検索したいユーザー名を代入する変数
target = "侍二郎"

for user_name in user_names:
    print(user_name)

    # 変数user_nameと変数targetの値が一致すれば、break文で繰り返し処理を強制終了する
    if (user_name == target):
        print(f"{target}さんが見つかったので、繰り返し処理を強制終了します。")
        break

侍太郎
侍一郎
侍二郎
侍二郎さんが見つかったので、繰り返し処理を強制終了します。

In [ ]:
score = {
    "国語": 80,
    "数学": 55,
    "理科": 70,
    "社会": 85,
    "英語": 60
}

print("合格した科目は以下のとおりです。")

for key, value in score.items():
    # 変数valueの値（点数）が70より小さければ、キー（科目名）と値（点数）を出力せずにcontinue文で次のループに進む
    if (value < 70):
        continue
    print(f"{key} : {value}点")

合格した科目は以下のとおりです。
国語 : 80点
理科 : 70点
社会 : 85点

In [18]:
array = ["水","金","地","火","木","土","天","海","冥"]
for _ in range(2):
  for i in array:
    print(i)

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [19]:
array = ["水","金","地","火","木","土","天","海","冥"]
print(len(array))

9

In [21]:
array = ["水", "金", "地", "火", "木", "土", "天", "海", "冥"]
i=0
count=0
while count < 2:
    print(array[i])
    i += 1
    if i == len(array):
        i = 0
        count += 1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥